*.suo
*.pdb
*.dll
*.cache
*.log
*.txt
#*.xml
source/Product/.vs/SpareManagement/v16/.suo
*.v2

source/Fundation/Utility/bin/
source/Fundation/Utility/bin/Debug/netcoreapp3.1/
source/Fundation/Utility/bin/Release/netcoreapp3.1/
source/Fundation/Utility/obj/
source/Fundation/Utility/obj/project.assets.json
source/Fundation/Utility/obj/Utility.csproj.nuget.dgspec.json
source/Fundation/Utility/obj/Utility.csproj.nuget.g.props
source/Fundation/Utility/obj/Debug/
source/Fundation/Utility/obj/Debug/project.assets.json
source/Fundation/Utility/obj/Debug/Utility.csproj.nuget.dgspec.json
source/Fundation/Utility/obj/Debug/Utility.csproj.nuget.g.props
source/Fundation/Utility/obj/Debug/netcoreapp3.1/
source/Fundation/Utility/obj/Debug/netcoreapp3.1/Utility.GeneratedMSBuildEditorConfig.editorconfig
source/Fundation/Utility/obj/Release/netcoreapp3.1/

*.editorconfig
source/Product/MOD4.Web/*.csproj.user
source/Product/MOD4.Web/Properties/PublishProfiles/*.pubxml.user
source/.vs/
source/obj/
source/Product/.vs/
source/Product/bin/
source/Product/obj/
source/Product/MOD4.Web/bin/
source/Product/MOD4.Web/obj/



