*.suo
*.pdb
*.dll
*.cache
*.log
*.txt
#*.xml
source/Product/.vs/SpareManagement/v16/.suo
*.v2
source/.vs/
source/obj/
source/Product/.vs/
source/Product/bin/
source/Product/obj/

source/Fundation/Utility/bin/

source/Fundation/Utility/obj/
