*.suo
*.pdb
*.dll
*.cache
*.log
*.txt

\.vscode/
\.vs/
\bin/
\obj/
\PublishProfiles/

#*.xml
source/Product/.vs/SpareManagement/v16/.suo
*.v2

source/Fundation/Utility/bin/
source/Fundation/Utility/obj/

*.editorconfig
source/Product/MOD4.Web/*.csproj.user
source/Product/MOD4.Web/Properties/PublishProfiles/*.pubxml.user
source/Product/bin/*
source/Product/obj/*
source/Product/MOD4.Web/bin/*
source/Product/MOD4.Web/obj/*
source/Product/MOD4.Web/.config/*
source/Product/MOD4.Web/Properties/*

