input[name="btn29"] {
    align-items: center;
    appearance: none;
    /*background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);*/
    background-color: #17a2b8;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 100, .4) 0 2px 4px,rgba(100, 100, 100, .3) 0 7px 13px -3px,rgba(100, 100, 100, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Impact;
    height: 32px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
}

    input[name="btn29"]:focus {
        box-shadow: #17a2b8 0 0 0 1.5px inset, rgba(100, 100, 100, .4) 0 2px 4px, rgba(100, 100, 100, .3) 0 7px 13px -3px, #17a2b8 0 -3px 0 inset;
    }

    input[name="btn29"]:hover {
        box-shadow: rgba(100, 100, 100, .4) 0 4px 8px, rgba(100, 100, 100, .3) 0 7px 13px -3px, #17a2b8 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    input[name="btn29"]:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }


input[name="btn30"] {
    align-items: center;
    appearance: none;
    /*background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);*/
    background-color: #e63c3c;
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(100, 100, 100, .4) 0 2px 4px,rgba(100, 100, 100, .3) 0 7px 13px -3px,rgba(100, 100, 100, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: Impact;
    height: 32px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 15px;
}

    input[name="btn30"]:focus {
        box-shadow: #e63c3c 0 0 0 1.5px inset, rgba(100, 100, 100, .4) 0 2px 4px, rgba(100, 100, 100, .3) 0 7px 13px -3px, #e63c3c 0 -3px 0 inset;
    }

    input[name="btn30"]:hover {
        box-shadow: rgba(100, 100, 100, .4) 0 4px 8px, rgba(100, 100, 100, .3) 0 7px 13px -3px, #e63c3c 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    input[name="btn30"]:active {
        box-shadow: #3c4fe0 0 3px 7px inset;
        transform: translateY(2px);
    }
