
<table id="table1" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>單號</th>
            <th>分類</th>
            <th>狀態</th>
            <th>主旨</th>
            <th>申請日</th>
            <th>申請人</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>D220920134036</td>
            <td>設定</td>
            <td>未完成</td>
            <td>VCS 機種GDD12345 設定...</td>
            <td>2022-09-20</td>
            <td>admin</td>
            <td>
                <button name="Eng" class="btn btn-sm btn-primary" style="position:relative">
                    @*<img class="eqimg" src="~/img/icons/pencil-2-128.gif" />*@
                    <span style="font-size:5px">編輯</span>
                </button>
            </td>
        </tr>
        <tr>
            <td>D220916144736</td>
            <td>新增</td>
            <td>進行中</td>
            <td>BMW 機種GDD99999 新增...</td>
            <td>2022-09-16</td>
            <td>admin</td>
            <td>
                <button name="Eng" class="btn btn-sm btn-primary" style="position:relative">
                    @*<img class="eqimg" src="~/img/icons/pencil-2-128.gif" />*@
                    <span style="font-size:5px">編輯</span>
                </button>
            </td>
        </tr>
    </tbody>
</table>
