
@{
    ViewBag.Title = "記錄檔";
}

<style>
</style>

<div class="content-wrapper">
    <section class="content">
        <div id="app" class="container-fluid">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">記錄檔</h3>
                </div>
                <div class="card-body">
                    <input type="text" @@change="impChange(this)" v-model="panelImp" :value="panelValue" />
                    <input type="text" v-model="panelDate" readonly />
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts{
    <script type="text/javascript">

        const vue = new Vue({
            el: '#app',
            data: {
                panelImp: '',
                panelValue: '',
                panelDate: '',
            },
            methods: {
                impChange(e) {
                    var time = new Date();
                    var dname = time.getDay(),
                        yr = time.getFullYear(),
                        mo = time.getMonth(),
                        dnum = time.getDate(),
                        hr = time.getHours(),
                        min = time.getMinutes(),
                        sec = time.getSeconds();
                    var months = ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"];
                    vue.panelDate = yr + '-' + months[mo] + '-' + vue.numPad(dnum, 2) + ' ' + vue.numPad(hr, 2) + ':' + vue.numPad(min, 2) + ':' + vue.numPad(sec, 2);
                    if (vue.panelImp.length == 0) {
                        vue.panelValue = vue.panelImp;
                        vue.panelDate = '';
                    }
                    else if (vue.panelValue.length > 0) {
                        vue.panelValue += ',' + vue.panelImp.substr(vue.panelValue.length, vue.panelImp.length - vue.panelValue.length);
                        vue.panelImp = vue.panelValue;
                    }
                    else {
                        vue.panelValue = vue.panelImp;
                    }
                },
                numPad(str, digits) {
                    // 轉換成兩位數
                    for (var n = str.toString(); n.length < digits; n = 0 + n);
                    return n;
                }
            },
            mounted: function () {

            }
        });

    </script>
}
