@model MOD4.Web.ViewModel.EquipmentViewModel

@{
    ViewBag.Title = "設備機況";
}

<style>
    .card {
        box-shadow: 3px 3px 3px #999;
        background-color: #393b42;
        margin-top: 10px;
    }

    .card-header {
        /*background-color: #c3cadb;*/
    }

    .card-title {
        font-size: 30px;
        font-weight: 900;
        color: white;
    }

    .card-body {
    }
    /*
    rect {
        background-color: #242042;
    }*/
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="col-12">
                <!-- Bar chart -->
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <i class="far fa-chart-bar">各區本週機況</i>
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="bar-chart" style="min-height:300px;min-width:300px"></div>
                    </div>
                    <!-- /.card-body-->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<!-- CHARTS -->
<script src="~/lib/echarts/echarts.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        var chartDom = document.getElementById('bar-chart');
        var echar = echarts.init(chartDom);

        var option = {
            title: {
                text: ''
            },
            tooltip: {},
            legend: {
                data: ['BONDING', 'LAM', 'ASSY', 'CKEN', 'DKEN'],
                textStyle: { color: "white" }
            },
            xAxis: {
                data: ['9/5', '9/6', '9/7', '9/8', '9/9', '9/10', '9/11'],
                axisLabel: { color: "white" }
            },
            yAxis: {
                name: "機況數量",
                nameTextStyle: {
                    color: "white"
                },
                axisLabel: {
                    color: "white"
                }
            },
            series: [
                {
                    name: 'BONDING',
                    type: 'bar',
                    data: [28, 48, 86, 27, 1, 33, 77]
                },
                {
                    name: 'LAM',
                    type: 'bar',
                    data: [5, 22, 47, 69, 19, 12, 7]
                },
                {
                    name: 'ASSY',
                    type: 'bar',
                    data: [9, 33, 87, 46, 7, 44, 13]
                },
                {
                    name: 'CKEN',
                    type: 'bar',
                    data: [7, 9, 36, 4, 52, 21, 38]
                },
                {
                    name: 'DKEN',
                    type: 'bar',
                    data: [7, 9, 36, 4, 52, 21, 38]
                }
            ]
        };

        echar.setOption(option);

        //var areaChartData = {
        //    labels: ['9/5', '9/6', '9/7', '9/8', '9/9', '9/10', '9/11'],
        //    datasets: [
        //        {
        //            label: 'BONDING',
        //            backgroundColor: '#3483eb',
        //            borderColor: 'rgba(60,141,188,0.8)',
        //            pointRadius: false,
        //            pointColor: '#3b8bba',
        //            pointStrokeColor: 'rgba(60,141,188,1)',
        //            pointHighlightFill: '#fff',
        //            pointHighlightStroke: 'rgba(60,141,188,1)',
        //            data: [28, 48, 86, 27, 1, 33, 77]
        //        },
        //        {
        //            label: 'LAM',
        //            backgroundColor: '#e6b239',
        //            borderColor: 'rgba(60,141,188,0.8)',
        //            pointRadius: false,
        //            pointColor: '#3b8bba',
        //            pointStrokeColor: 'rgba(60,141,188,1)',
        //            pointHighlightFill: '#fff',
        //            pointHighlightStroke: 'rgba(60,141,188,1)',
        //            data: [5, 22, 47, 69, 19, 12, 7]
        //        },
        //        {
        //            label: 'ASSY',
        //            backgroundColor: '#db3b32',
        //            borderColor: 'rgba(60,141,188,0.8)',
        //            pointRadius: false,
        //            pointColor: '#3b8bba',
        //            pointStrokeColor: 'rgba(60,141,188,1)',
        //            pointHighlightFill: '#fff',
        //            pointHighlightStroke: 'rgba(60,141,188,1)',
        //            data: [9, 33, 87, 46, 7, 44, 13]
        //        },
        //        {
        //            label: 'CKEN',
        //            backgroundColor: '#1d4180',
        //            borderColor: 'rgba(60,141,188,0.8)',
        //            pointRadius: false,
        //            pointColor: '#3b8bba',
        //            pointStrokeColor: 'rgba(60,141,188,1)',
        //            pointHighlightFill: '#fff',
        //            pointHighlightStroke: 'rgba(60,141,188,1)',
        //            data: [15, 76, 13, 24, 7, 63, 2]
        //        },
        //        {
        //            label: 'DKEN',
        //            backgroundColor: '#929aa8',
        //            borderColor: 'rgba(60,141,188,0.8)',
        //            pointRadius: false,
        //            pointColor: '#3b8bba',
        //            pointStrokeColor: 'rgba(60,141,188,1)',
        //            pointHighlightFill: '#fff',
        //            pointHighlightStroke: 'rgba(60,141,188,1)',
        //            data: [7, 9, 36, 4, 52, 21, 38]
        //        }
        //    ]
        //}


        //var barChartCanvas = $('#bar-chart').get(0).getContext('2d')
        ////var barChartData = $.extend(true, {}, areaChartData)

        //var barChartOptions = {
        //    responsive: true,
        //    maintainAspectRatio: false,
        //    datasetFill: false
        //}

        //new Chart(barChartCanvas, {
        //    type: 'bar',
        //    data: areaChartData,
        //    options: barChartOptions,
        //    outerWidth: 500
        //})
    });

</script>