@model MOD4.Web.ViewModel.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>系統登錄</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" href="~/img/carux_logo_n.ico" type="image/x-icon" sizes="32x32" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/css/adminlte.css">
    <link rel="stylesheet" href="~/lib/iCheck/skins/square/blue.min.css">
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css">
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.css">

    <style>
        #logoSpan {
            color: black;
            text-shadow: 0 0 3px black;
            font-family: Franklin 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: 700;
            font-size: 55px;
            vertical-align: middle;
            font-style: italic;
            display: inline-block;
            line-height: normal;
        }

        .mylauoutimg {
            width: 150px;
            height: 130px;
            margin: auto;
            display: block;
        }
    </style>
</head>

<body class="hold-transition login-page">
    <!-- /.login-box -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- include BlockUI -->
    <script src="~/lib/jquery-blockUI/dist/jquery.blockUI.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/plugins/InxSSO/InxSSOv4.js"></script>
    <script src="~/plugins/jsCookie/js.cookie.js"></script>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    </script>
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="login-box-body">
            <div style="display:flex;text-align:center;">
                <div class="col-5">
                    <img class="mylauoutimg" src="~/img/CarUX_Logo_n.png">
                </div>
                <div class="col-5" style="text-align: left; height: 125px; line-height: 125px;">
                    <span id="logoSpan">CarUX</span>
                </div>
            </div>
            <form id="form">
                <div class="form-group has-feedback">
                    <span asp-validation-for="Account" style="font-size:10px;font-weight:700" class="text-danger"></span>
                    <input asp-for="Account" type="text" class="form-control" placeholder="帳號">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <span asp-validation-for="Password" style="font-size:10px;font-weight:700" class="text-danger"></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="密碼">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div>
                    <div class="col-xs-8" style="float:left;">
                        <div class="checkbox icheck">
                            <input type="checkbox" asp-for="RememberMe">
                            <label asp-for="RememberMe"></label>
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-xs-4" style="float:right;">
                        @*<button type="submit" id="login" class="btn btn-primary btn-block btn-flat">登錄</button>*@
                        <input type="button" id="login" class="btn btn-primary btn-block btn-flat" value="登錄" />
                    </div>
                    <!-- /.col -->
                </div>
                <input type="hidden" asp-for="Token" />
            </form>
        </div>
        <!-- /.login-box-body -->
    </div>
    <div class="login-box">
        <a style="font-size: 7px; color: lightgray; font-family: sans-serif;float:left">系統負責人:陳旻緯 550-32342 | v @GetType().Assembly.GetName().Version.ToString()</a>
    </div>
</body>
</html>

<script type="text/javascript">

    let _userInfo = {
        MemID: '',
        MemName: '',
        MemType: 'Employee',
        AD: '',
        SSOToken: '',
        RemoteIP: '',
        RealUser: '',
        SYSID: '',
        SsoTicket4: ''
    }

    let myFuc = {
        login() {

            var Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            if ($("#form").valid()) {
                $.blockUI({
                    message: '<img src="./img/Loading.gif" />',
                    css: {
                        borderWidth: '0px',
                        backgroundColor: 'transparent'
                    }
                });

                // 頁面跳轉, 使用者資訊寫入
                $.ajax({
                    type: "POST",
                    url: "./Account/Login",
                    dataType: 'json',
                    data: $("#form").serialize(),
                    success: function (result) {
                        if (result.isSuccess) {

                            if (result.innxSSO) {
                                let _res = result.data.tokenTicket.split('|');
                                window.history.pushState({}, 0, location.origin + location.pathname + '?Token=' + _res[0]);
                                _userInfo.SSOToken = _res[0];
                                _userInfo.SsoTicket4 = _res[1];
                                Cookies.set('SSOToken', _res[0]);
                                /*Cookies.set('SsoTicket4', _res[1]);*/
                                localStorage.setItem('SsoTicket4', _res[1]);
                            }

                            Cookies.set('Name', result.data.name);

                            //$("#Token").val(_res[0]);

                            location.href = "./Home";
                        }
                        else {
                            Toast.fire({
                                icon: 'error',
                                title: result.data
                            })
                        }
                    }
                });
            }

            //_userInfo.AD = $("#Account").val();

            //if ($("#form").valid()) {
            //    $.blockUI({
            //        message: '<img src="./img/Loading.gif" />',
            //        css: {
            //            borderWidth: '0px',
            //            backgroundColor: 'transparent'
            //        }
            //    });
            //    $.ajax({
            //        type: "POST",
            //        url: "./Account/Login",
            //        dataType: 'json',
            //        data: $("#form").serialize(),
            //        success: function (result) {
            //            if (result != '') {
            //                //alert(result);
            //                Toast.fire({
            //                    icon: 'error',
            //                    title: result
            //                })
            //            }
            //            else {
            //                //alert('登錄成功');
            //                location.href = "./Home";
            //            }
            //        }
            //    });
            //}
            $.unblockUI();
        }
    }

    //$(function () {
    //    localStorage.setItem('ISSSO', JSON.stringify({
    //        value: false,
    //        expire: null
    //    }));
    //    localStorage.setItem('AVATAR', JSON.stringify({
    //        value: 'CARUX',
    //        expire: null
    //    }));
    //    localStorage.setItem('ACCESS_TOKEN', JSON.stringify({
    //        value: 'de95ebab-bdfc-4a92-8a19-14697f986f9c',
    //        expire: null
    //    }));
    //    localStorage.setItem('USERMESSAGE', JSON.stringify({
    //        AD : "TOWNS.WANG",
    //        LoginDate : "2023-07-06",
    //        MemID : "22008163",
    //        MemName : "王士誠",
    //        MemType : "Employee",
    //        RealUser : null,
    //        RemoteIP : "10.54.212.181",
    //        SSOToken: 'de95ebab-bdfc-4a92-8a19-14697f986f9c',
    //        SYSID : "FS_REPORTUI",
    //    }));
    //});

    $(document).on('keypress', function (e) {
        if (e.which == 13) {
            myFuc.login()
        }
    });

    $('#login').click(function (e) {
        myFuc.login()
    });

    $("#RememberMe").click(function (e) {
        if ($("#RememberMe")[0].checked) {
            $("#RememberMe").attr('checked', true);
            $("#RememberMe").val('true');
        }
        else {
            $("#RememberMe").attr('checked', false);
            $("#RememberMe").val('false');
        }
    });

    function setUserInfo(userInfo) {
        gMain.UserInfo = userInfo;
        console.log('gMain.Userinfo', gMain.UserInfo);
        var s = "<br/><strong>" + JSON.stringify(gMain.UserInfo) + "</strong>";
        $("#divMain").append(s);
    }

    function LoginAPI() {

        var sysID = InxSSO.QueryStringCase('SysID');

        var data = JSON.stringify({
            UserID: $("#Account").val(),
            Password: $('#Password').val(),
            UserType: "Auto",
            SysID: null,
            URL: null
        });

        $.ajax({
            type: "POST",
            url: "http://pcuxsamv4athetn.cminl.oa/api/SSO/Login",
            Headers: {
                'Access-Control-Allow-Origin': '*'
            },
            data: '"{"UserID":"towns.wang","Password":"T2wns05160405","UserType":"Auto","SysID":null,"URL":null}"',
            async: true,
            contentType: "application/json",
            success: function (Token) {
                if (url != null) {
                    let redirectUrl = url + (url.indexOf("?") != -1 ? '&' : '?') + "Token=" + encodeURIComponent(Token)
                    if (window.console)
                        console.log("redirect:" + redirectUrl);
                    InxSSO.ssLog('92 Logon.html:API Login 成功，取得 token ,Redirect url=' + redirectUrl, sysID);
                    location.replace(redirectUrl);
                }
                else {
                    InxSSO.ssLog('92 Logon.html:API Login 成功，取得 token ,無 url，顯示 LogonSuccess.html', sysID);
                    location.replace("LogonSuccess.html" + location.search);
                }
            },
            error: function (e) {
                //InxSSO.ssLog('92 Logon.html:API Login 失敗，message=' + e.responseText, sysID);
                alert(e.responseText);
            }
        });
    }

</script>