@model List<MOD4.Web.ViewModel.SPCSettingViewModel>

@{
    ViewBag.Title = "SPC Setting";
}

<style>
    .card-title {
        font-size: 30px;
        font-weight: 900;
    }

    table {
        box-shadow: 2px 2px 2px #999;
    }

    .card {
        box-shadow: 2px 2px 2px #999;
        background-color: #c3cadb;
    }

    .myth2 {
        font-size: 13px;
        font-weight: 800;
    }

    .my-control {
        display: initial;
        width: 80%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>

<head>
    <link rel="stylesheet" href="~/css/buttonStyleCRUD.css">
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css" />
</head>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">SPC 參數設定</h3>
                        </div>
                        <div class="card-body">
                            <span style="font-size:8px;font-weight:700" class="text-danger">*chartgrade</span>
                            <div id="srcDiv" class="form-group d-flex align-content-center flex-wrap">
                                <div class="col-lg-1">
                                    <label class="col-form-label">樓層：</label>
                                </div>
                                <div class="col-lg-1">
                                    <select id="selFloor" class="custom-select" style="width:60%" asp-items="@(SelectList)ViewBag.Floor">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">chartgrade：</label>
                                </div>
                                <div class="col-lg-1">
                                    <select id="selCG" class="custom-select" style="width:60%" asp-items="@(SelectList)ViewBag.ChartGrade">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <label class="col-form-label">Prod ID：</label>
                                </div>
                                <div class="col-lg-3">
                                    <select id="selProd" class="custom-select select2bs4" style="width:80%">
                                    </select>
                                </div>
                                <div class="col-lg-1">
                                    <input class="btn btn-info" type="button" name="btn29" value="查詢" onclick="btnClickSearch()" />
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section scripts{

    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript">

        $(function () {
            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });

        let myFunc = {
            SearchChart() {
                if (($("#selFloor").val() == "" || $("#selFloor").val() == null) ||
                    ($("#selCG").val() == "" || $("#selCG").val() == null)) {
                    alert('樓層、chartgrade 必選');
                    return false;
                }

                $.blockUI({
                    message: '<img src="./img/Pac_Man.gif" />',
                    css: {
                        borderWidth: '0px',
                        backgroundColor: 'transparent'
                    }
                });

                $.ajax({
                    url: "./Setting/Search?floor=" + $("#selFloor").val() + "&chartgrade=" + $("#selCG").val() + "&prodId=" + $("#selProd").val(),
                    type: "GET",
                    dataType: 'html',
                    success: function (result) {
                        $.unblockUI();
                        if (isJsonString(result)) {
                            var _res = JSON.parse(result);
                            if (result == '""') {
                                alert('查無資料');
                            }
                            if ('isException' in _res) {
                                alert(_res.msg);
                                return false;
                            }
                        }
                        else {
                            $("#sample_wrapper").remove();
                            $("#srcDiv").after(result);
                            $('#sample').DataTable({
                                "responsive": true
                                , "lengthChange": true
                                , "autoWidth": false
                                , "order": [[0, "asc"]]
                                , "buttons": ["excel", "colvis"]
                            }).buttons().container().appendTo('#sample_wrapper .col-md-6:eq(0)');
                        }
                    }
                });
            },
            SetOtherOptions(floor, chartgrade) {
                $.ajax({
                    url: "../SPCReport/GetMainOptions?floor=" + floor + "&chartgrade=" + chartgrade,
                    type: "GET",
                    dataType: 'json',
                    success: function (result) {
                        $.unblockUI();
                        if (isJsonString(result)) {
                            var _res = JSON.parse(result);
                            if (result == '""') {
                                alert('查無資料')
                            }
                            if ('isException' in _res) {
                                alert(_res.msg);
                                return false;
                            }
                        }
                        else {
                            $("<option></option>").attr("value", "").text('　').appendTo($('#selProd'));
                            result.reduce(function (item, option) {
                                return myFunc.OptionReduce(item, option, 'pecd', 'pecd', '#selProd');
                            }, {});

                        }
                    }
                });
            },
            OptionReduce(item, option, propId, propName, optionId) {
                if (item[option[propId]] == null) {
                    $("<option></option>").attr("value", option[propId]).text(option[propName]).appendTo($(optionId));
                }
                (item[option[propId]] = item[option[propId]] || []).push(option);
                return item;
            }
        }


        $("#selFloor").change(function (e) {
            let floorSelected = $("#selFloor").find(":selected").val();
            let chartgradeSelected = $("#selCG").find(":selected").val();
            if (floorSelected != "" && chartgradeSelected != "") {
                myFunc.SetOtherOptions(floorSelected, chartgradeSelected);
            }
        });

        $("#selCG").change(function (e) {
            let floorSelected = $("#selFloor").find(":selected").val();
            let chartgradeSelected = $("#selCG").find(":selected").val();
            if (floorSelected != "" && chartgradeSelected != "") {
                myFunc.SetOtherOptions(floorSelected, chartgradeSelected);
            }
        });

        function btnClickSearch() {
            myFunc.SearchChart();
        }

    </script>

}

