@model List<MOD4.Web.ViewModel.AccessFabMainViewModel>

@{
    ViewBag.Title = "個人簽核單";
}

<style>
    .card-title {
        font-size: 30px;
        font-weight: 900;
    }

    table {
        box-shadow: 2px 2px 2px #999;
    }

    .card {
        box-shadow: 2px 2px 2px #999;
        background-color: #c3cadb;
    }

    .my-control {
        display: initial;
        width: 60%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        box-shadow: inset 0 0 0 transparent;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">進出申請單 簽核作業</h3>
                        </div>
                        <div class="card-body">
                            <span style="color:red;font-size:8px">*預設顯示30天入廠申請單</span>
                            <fieldset id="searchArea">
                                <legend id="legend">查詢區塊</legend>
                                <div class="row" style="margin-bottom:5px">
                                    <div class="col-3">
                                        <label>入廠起日：</label>
                                        <input id="startDTE" class="my-control" type="date" name="name" value="" />
                                    </div>
                                    <div class="col-3">
                                        <label>入廠訖日：</label>
                                        <input id="endDTE" class="my-control" type="date" name="name" value="" />
                                    </div>
                                    <div class="col-3">
                                        <label>入廠性質：</label>
                                        <select id="selFabInType" class="custom-select" style="width:50%" asp-items="@(SelectList)ViewBag.FabInTypeList">
                                            <option value="0"></option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label>入廠人員：</label>
                                        <input id="guestName" type="text" class="form-control" style="width:65%;display:initial;" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        <label>申請人：</label>
                                        <input id="applicant" type="text" class="form-control" style="width:65%;display:initial;" />
                                    </div>
                                    <div>
                                        <input id="btnSearch" type="button" class="btn btn-info" style="float: right" name="name" value="查詢" />
                                    </div>
                                </div>
                                <br />
                            </fieldset>
                            <br id="diviBr" />

                            <partial name="_PartialTable" model="Model" />
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true">
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>


@section scripts {
    <script type="text/javascript">

        let myFun = {
            mainSearch() {
                $.ajax({
                    url: "./Audit/Search?startFabInDate=" + $("#startDTE").val() + "&endFabInDate=" + $("#endDTE").val() + "&fabInTypeId=" + $("#selFabInType").val() + "&guestName=" + $("#guestName").val() + "&applicant=" + $("#applicant").val(),
                    type: "GET",
                    dataType: "html",
                    success: function (res) {
                        if (isJsonString(res)) {
                            var _res = JSON.parse(res);
                            if (result == '""') {
                                alert('查無資料');
                            }
                            if ('isException' in _res) {
                                alert(_res.msg);
                                return false;
                            }
                        }
                        else {
                            $("#table1_wrapper").remove();
                            $("#diviBr").after(res);

                            $('th:nth-child(6)').hide();
                            $('td:nth-child(6)').hide();

                            $('#table1').DataTable({
                                "responsive": false,
                                "lengthChange": true,
                                "autoWidth": false,
                                "paging": true,
                                "order": [[1, "desc"]]
                            }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');
                        }
                    }
                });
            },
            verifyToDetail(url, sn) {
                $.ajax({
                    url: "./Audit/Verify/" + sn,
                    type: "GET",
                    dataType: "html",
                    success: function (res) {
                        var _res = JSON.parse(res);
                        if (_res.isSuccess) {
                            location.href = url;
                        }
                        else {
                            alert(_res.msg);
                            location.reload();
                        }
                    }
                });
            }
        }

        $(function () {

            $('th:nth-child(6)').hide();
            $('td:nth-child(6)').hide();

            $('#table1').DataTable({
                "paging": true,
                //"searching": false,
                //"ordering": true,
                //"info": true,
                "responsive": false,
                "lengthChange": true,
                "autoWidth": false,
                "order": [[1, "desc"]],
                /*"buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]*/
            }).buttons().container().appendTo('#table1_wrapper .col-md-6:eq(0)');

            $("#dropCat,#dropStatus").multiselect({});

            $('#startDTE').attr("max", new Date().toISOString().slice(0, 10));
            $('#endDTE').attr("max", new Date().toISOString().slice(0, 10));
        });

        $("#btnSearch").click(myFun.mainSearch);

        function orderNoClick(url, sn) {
            myFun.verifyToDetail(url, sn);
        }

    </script>
}