
<style>
    .container-clock {
        /* 置中 */
        position: absolute;
        top: 3vw;
        right: 0.4vw;
        /*transform: translate(-50%, -50%);*/
        background-color: transparent;
        /*border: 3px solid lightgreen;*/
        color: rgb(89, 220, 240, 0.8);
        width: 15vw; /*340px;*/
        /*padding: 10px;*/
        border-radius: 40px;
        transition: 0.5s;
    }

        .container-clock:hover {
            background-color: lightgreen;
            color: black;
            box-shadow: 0 0 30px #59dcf0;
        }

    .time {
        font-size: 2.8vw;
        font-weight: 750;
        text-align: center;
        font-family: fantasy,monospace,Verdana;
    }

    /*.date {
        font-size: 20px;
        text-align: center;
        font-style: italic;
    }*/

    /*#period {
        font-size: 20px;
    }*/
</style>

<div class="wrap">
    <div class="container-clock">
        <div class="datetime">
            <div class="time">
                <span id="hour">00</span>
                <span>:</span>
                <span id="minutes">00</span>
                <span>:</span>
                <span id="seconds">00</span>
                @*<span id="period">AM</span>*@
            </div>
            @*<div class="date">
                    <span id="dayname">星期</span>,
                    <span id="month">月</span>
                    <span id="daynum">00</span>日,
                    <span id="year">year</span>年
                </div>*@
        </div>
    </div>
</div>

