
@{
    Layout = null;
}

<style>
    * {
        background: #3d3d3d;
    }

    p {
        color: white;
    }

    div[name='mapDiv'] {
        margin-top: 5%;
    }

    div[name='blkVCS'], div[name='blkSTH'], div[name='blkFOG'], div[name='blk55'] {
        border: 1px solid #3d3d3d;
        width: 100%;
        height: 20%;
    }

    div[name='blkVCS'] {
        display: flex;
    }

        div[name='blkVCS'] > div:nth-child(1) {
            width: 50%;
            align-items: center;
            justify-content: right;
            display: flex;
        }

        div[name='blkVCS'] > div:nth-child(2) {
            width: 30%;
        }

        div[name='blkVCS'] > div:nth-child(3) {
            width: 20%;
            display: flex;
            align-items: end;
            justify-content: center;
        }

    #bonding {
        width: 70%;
        height: 50%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #cdken {
        width: 60%;
        height: 25%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-top: 3%;
    }

    #assy {
        width: 80%;
        height: 25%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin-top: 5%;
    }

    #aging {
        width: 30%;
        height: 40%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div[name='blkSTH'] {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #sthhth {
        width: 25%;
        height: 40%;
        border: 3px solid white;
        display: flex;
        justify-content: center;
    }

    div[name='blkFOG'] {
        display: flex;
    }

        div[name='blkFOG'] > div:nth-child(1) {
            width: 40%;
        }

    #fog {
        width: 60%;
        height: 20%;
        margin-left: 15%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #hthsth {
        margin-top: 4%;
        width: 80%;
        height: 20%;
        margin-left: 15%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #ff2sth {
        width: 10%;
        height: 15%;
        border: 3px solid white;
        margin-left: -5%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div[name='blk55'] {
        display: flex;
    }

        div[name='blk55'] > div:nth-child(1) {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: right;
        }

        div[name='blk55'] > div:nth-child(2) {
            width: 15%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        div[name='blk55'] > div:nth-child(3) {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        div[name='blk55'] > div:nth-child(4) {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    #hth55 {
        width: 80%;
        height: 35%;
        border: 3px solid white;
        display: flex;
        justify-content: center;
    }

    #sth55 {
        width: 60%;
        height: 35%;
        border: 3px solid white;
        display: flex;
        justify-content: center;
    }

    #padiASSY {
        width: 80%;
        height: 15%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #panaASSY {
        margin-top: 5%;
        width: 80%;
        height: 15%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #padiCDken {
        width: 80%;
        height: 15%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #panacCDken {
        margin-top: 5%;
        width: 80%;
        height: 15%;
        border: 3px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<div>
    <div name="mapDiv">
        <div name="blkVCS">
            <div>
                <div id="bonding">
                    <p>BONDING</p>
                </div>
            </div>
            <div>
                <div id="cdken">
                    <p>VCS CD KEN</p>
                </div>
                <div id="assy">
                    <p>VCS ASSY</p>
                </div>
            </div>
            <div>
                <div id="aging">
                    <p>AGING</p>
                </div>
            </div>
        </div>
        <div name="blkSTH">
            <div id="sthhth">
                <p>STH+HTH</p>
            </div>
        </div>
        <div name="blkFOG">
            <div>
                <div id="fog">
                    <p>FOG</p>
                </div>
                <div id="hthsth">
                    <p>HTH+STH</p>
                </div>
            </div>
            <div id="ff2sth">
                <p>FF2 STH</p>
            </div>
        </div>
        <div name="blk55">
            <div>
                <div id="hth55">
                    <p>55 HTH</p>
                </div>
            </div>
            <div>
                <div id="sth55">
                    <p>55 STH</p>
                </div>
            </div>
            <div>
                <div id="padiASSY">
                    <p>PaDi ASSY</p>
                </div>
                <div id="panaASSY">
                    <p>Pana ASSY</p>
                </div>
            </div>
            <div>
                <div id="padiCDken">
                    <p>PaDi CD Ken</p>
                </div>
                <div id="panacCDken">
                    <p>Pana CD Ken</p>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->