@model MOD4.Web.ViewModel.MonitorViewModel

@{
    Layout = null;
}

<style>
    p[name='mapName'] {
        color: white;
        font-family: 'Trebuchet MS';
        font-size: 3vh;
    }

    .bg-theme {
        /*background-image: url('./img/monitorBG.png');*/
        line-height: 1.15;
        font-size: 0.5rem;
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-position: 0 0 / cover;
        background-color: #101129; /* 101129  ff5000 */
    }

    div[name='mapDiv'] {
        -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.7));
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /*background: repeating-conic-gradient(from var(--a),#e8e8e8 0%,#e8e8e8 5%,transparent 5%,transparent 40%,#e8e8e8 50%);
        animation: animate 20s linear infinite;*/
    }

    /*@@property --a {
        syntax: '<angle>';
        inherits: false;
        initial-value: 0deg;
    }

    @@keyframes animate {
        0% {
            --a: 0deg;
        }

        100% {
            --a: 360deg;
        }
    }*/


    img[usemap='#veg'] {
        /*width: 100%;*/
        height: 98%;
        object-fit: cover;
    }

    div[name='card'] {
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: rgba(0,0,0,.2);
    }

    div[name='cHeader'] {
        color: white;
        font-weight: 600;
        /*text-align: center;*/
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        position: absolute;
    }

        div[name='cHeader'] a {
            font-size: 2vh;
        }

    .panel {
        /* 边框 */
        box-sizing: border-box;
        border: 2px solid red;
        border-image: url('./img/border.png') 51 38 21 132;
        border-width: 2.125rem 1.583rem 0.875rem 1.5rem;
        position: relative;
        margin-bottom: 0.833rem;
    }

        .panel .inner {
            /* 装内容 */
            /* height: 60px; */
            position: absolute;
            top: -2.125rem;
            right: -1.583rem;
            bottom: -0.875rem;
            left: -5.5rem;
            padding: 1rem 1.5rem;
        }

    .monitor {
        height: 100%;
    }

        .monitor .inner {
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
        }

    .tooltip-text {
        visibility: hidden;
        position: absolute;
        z-index: 3;
        width: 200px;
        color: black;
        font-size: 15px;
        background-color: #ededed;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        top: 25px;
        left: -5%;
    }

        .tooltip-text::before {
            content: "";
            position: absolute;
            transform: rotate(45deg);
            background-color: #ededed;
            padding: 5px;
            z-index: -1;
        }

    .eqArea:hover .tooltip-text {
        visibility: visible;
    }

    .tooltip-text::before {
        top: -15%;
        left: 15%;
    }

    .autoscrollable-wrapper {
        overflow: auto;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
        height: 100%;
    }

        .autoscrollable-wrapper::-webkit-scrollbar {
            width: 4px;
        }

        .autoscrollable-wrapper::-webkit-scrollbar-button {
            background: transparent;
            border-radius: 4px;
        }

        .autoscrollable-wrapper::-webkit-scrollbar-track-piece {
            background: transparent;
        }

        .autoscrollable-wrapper::-webkit-scrollbar-thumb {
            border-radius: 4px;
            /*background-color: #b5b5b5;*/
            border: 1px solid slategrey;
            opacity: 0.2;
        }

        .autoscrollable-wrapper::-webkit-scrollbar-track {
            box-shadow: transparent;
        }

    .boardTable {
        width: 100%;
        border-collapse: collapse;
    }

        .boardTable td, .boardTable th {
            padding-top: 1vh;
            padding-right: 0.3rem;
            padding-bottom: 1vh;
            padding-left: 0.3rem;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }

    thead {
        top: -1;
        z-index: 2;
    }

    thead, tr > th {
        position: sticky;
        background: rgba(0,0,0,.8);
    }

    tbody[name='warning'] > tr > td {
        color: #dbdbd7;
        font-size: 20px;
    }

    /*生產資訊*/
    #areaInfo > div {
        color: white;
        display: flex;
    }

    @@media(min-height: 850px) {

        #areaInfo > div {
            margin-top: 2.5vh;
        }

            #areaInfo > div:nth-child(1) > div {
                font-size: 2vh;
            }

            #areaInfo > div:nth-child(2) > div {
                font-size: 2vh;
            }

            #areaInfo > div:nth-child(3) > div {
                font-size: 2vh;
            }

            #areaInfo > div:nth-child(4) > div {
                font-size: 2vh;
            }
    }

    @@media(max-height: 850px) {

        #areaInfo > div {
            margin-top: 1vh;
        }

            #areaInfo > div:nth-child(1) > div {
                font-size: 1.5vh;
            }

            #areaInfo > div:nth-child(2) > div {
                font-size: 1.5vh;
            }

            #areaInfo > div:nth-child(3) > div {
                font-size: 1.5vh;
            }

            #areaInfo > div:nth-child(4) > div {
                font-size: 1.5vh;
            }
    }

    p[name='remark'] {
        color: #ff2424;
        font-size: 32px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: 600;
        animation: remark 1.5s ease-in-out infinite alternate;
    }

    @@keyframes remark {
        0% {
            text-shadow: 0 0 20px #ff7d7d, 0 0 100px #ff7d7d, 0 0 20px #ff7d7d;
            color: #ff7d7d;
        }

        50% {
            text-shadow: 0 0 50px #ff4f4f, 0 0 150px #ff4f4f, 0 0 50px #ff4f4f;
            color: #ff4f4f;
        }

        100% {
            text-shadow: 0 0 20px #ff2424, 0 0 100px #ff2424, 0 0 20px #ff2424;
            color: #ff2424;
        }
    }
</style>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/img/carux_logo_n.ico" type="image/x-icon" sizes="16x16" />
    <title>CarUX監控看板👁</title>
    <link rel="stylesheet" href="~/img/monitorBG.png">
    <link rel="stylesheet" href="~/img/border.png">
    <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.css">
</head>

<body class="bg-theme">
    <div class="card-header" style="height: 6%;text-align:center">
        <img class="titleImg" style="width:80%" src="~/img/titleTransparent_1.png" />
    </div>
    <partial name="_PartialClock" />
    <div id="app" class="card-body" style="height: 90%;">
        <div name="alaemMap">
            <div style="height: 5%;">
                <p name="mapName" style="color: white;font-family:'Trebuchet MS'">Factory map</p>
            </div>
            <div style="display: flex; height: 58%;">
                <div style="width: 25%;">
                    <div name="cHeader" style="background-color: rgba(184, 82, 18,.3); left: 8.5%; ">
                        <a>前段異常</a>
                    </div>
                    <div class="monitor panel">
                        <div class="autoscrollable-wrapper" @@mouseover="stopInterval(this)" @@mouseout="setScrollInterval()">
                            <div v-for="alarm in frontAlarms">
                                <div>
                                    <div>
                                        <a style="color: white;">{{alarm.eqNumber}}</a>
                                        <a style="color: white; margin-left: 20px;">{{alarm.prodNo}}</a>
                                    </div>
                                    <div>
                                        <a style="color: white;">{{alarm.startTime}}</a>
                                    </div>
                                    <div>
                                        <a style="color: white;">{{alarm.comment}}</a>
                                    </div>
                                </div>
                                <hr style="background-color:white" />
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->

                <div name="mapDiv" style="height: 100%;">
                    <div class="eqArea" :id="eq.eqNumber" v-for="eq in eqDataInfo" :style="eq" @@mouseover="areaMouseover(eq)" @@mouseout="hideEQInfo(eq)">
                        @*<a style="font-size: 17px; font-weight: 700;">99</a>*@
                        <span v-if="eq.perfInfo.alarmMsg != '' && eq.perfInfo.alarmMsg != null" class="tooltip-text">{{eq.perfInfo.alarmMsg}}</span>
                    </div>

                    @*<div id="AOLB2010" class="eqArea" v-bind:style="AOLB2010" @@mouseover="showEQInfo(AOLB2010)" @@mouseout="hideEQInfo(AOLB2010)">
                            <span class="tooltip-text">{{AOLB2010.perfInfo.alarmMsg}}</span>
                        </div>*@

                    <canvas id="myCanvas">
                    </canvas>
                </div>

                <div style="width: 25%;">
                    <div name="cHeader" style="background-color: rgba(134, 29, 204,.3); right: 8.5%;">
                        <a>後段異常</a>
                    </div>
                    <div class="monitor panel">
                        <div class="autoscrollable-wrapper" @@mouseover="stopInterval(this)" @@mouseout="setScrollInterval()">
                            <div v-for="alarm in backendAlarms">
                                <div>
                                    <div>
                                        <a style="color: white;">{{alarm.eqNumber}}</a>
                                        <a style="color: white; margin-left: 20px;">{{alarm.prodNo}}</a>
                                    </div>
                                    <div>
                                        <a style="color: white;">{{alarm.startTime}}</a>
                                    </div>
                                    <div>
                                        <a style="color: white;">{{alarm.comment}}</a>
                                    </div>
                                </div>
                                <hr style="background-color:white" />
                            </div>
                        </div>
                    </div>
                </div><!--End Row-->
            </div>
            <div style="display: flex; height: 38%; margin-top: 5px;">

                <div style="width: 33%;">
                    <div name="cHeader" style="background-color: rgba(81, 214, 86,.3); left: 15vw;">
                        <a>本日 TOP</a>
                    </div>
                    <div class="monitor panel autoscrollable-wrapper" @@mouseover="stopInterval(this)" @@mouseout="setScrollInterval()">
                        <table class="boardTable">
                            <tbody>
                                <tr style="color:white" v-if="dailyTOPAlarms != null" v-for="top in dailyTOPAlarms">
                                    <td width="12%">{{top.prodNo}}</td>
                                    <td width="12%">{{top.eqNumber}}</td>
                                    <td>{{top.comment}}</td>
                                    <td width="8%">{{top.repairedTime}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div><!--End Row-->

                <div class="box" style="width: 34%;">
                    <div name="cHeader" style="background-color: rgba(134, 29, 204,.3); left: 48vw;">
                        <a>生產資訊</a>
                    </div>
                    <div class="monitor panel">
                        <div id="areaInfo" style="width: 90%; height: 100%;">
                            <div>
                                <div class="col-lg-4">Area:</div>
                                <div class="col-lg-8">{{eqPerfInfo.area}}</div>
                            </div>
                            <div>
                                <div class="col-lg-4">EQ no:</div>
                                <div class="col-lg-8">{{eqPerfInfo.eqNo}}</div>
                            </div>
                            <div>
                                <div class="col-lg-4">機種:</div>
                                <div class="col-lg-8">{{eqPerfInfo.prod}}</div>
                            </div>
                            <div>
                                <div class="col-lg-4">Pass量:</div>
                                <div class="col-lg-8">{{eqPerfInfo.passQty}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box" style="width: 33%;">

                    <div name="cHeader" style="background-color: rgba(134, 29, 204,.3); right: 13vw;">
                        <a>本日各製程MTD</a>
                    </div>
                    <div class="monitor panel autoscrollable-wrapper" @@mouseover="stopInterval(this)" @@mouseout="setScrollInterval()">
                        <table class="boardTable">
                            <thead>
                                <tr style="color:white">
                                    <th style="text-align: center; font-size: 0.8vw;">製程</th>
                                    <th style="text-align: center; font-size: 0.8vw;">日計畫</th>
                                    <th style="text-align: center; font-size: 0.8vw;">累積應產</th>
                                    <th style="text-align: center; font-size: 0.8vw;">實際產出</th>
                                    <th style="text-align: center; font-size: 0.8vw;">時段累積差異</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="color:white" v-for="mtd in dailyProcessMTD">
                                    <td style="text-align:center; font-size: 1vw;">{{mtd.process}}</td>
                                    <td style="text-align:center; font-size: 1vw;">{{mtd.dayPlanQty}}</td>
                                    <td style="text-align:center; font-size: 1vw;">{{mtd.dayPeriodPlanQty}}</td>
                                    <td style="text-align:center; font-size: 1vw;">{{mtd.dayActQty}}</td>
                                    <td v-if="mtd.dayDiff < 0" style="text-align: center; font-weight: 600; font-size: 1vw; color: red;">{{mtd.dayDiff}}</td>
                                    <td v-if="mtd.dayDiff >= 0" style="text-align: center; font-weight: 600; font-size: 1vw; color: limegreen;">{{mtd.dayDiff}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/plugins/popper/popper_v3.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="~/js/jquery.imagemapster.js"></script>
<script src="~/plugins/vue/vue.min.js"></script>
<script src="~/plugins/sweetalert2/sweetalert2.min.js"></script>
<script>

    const vue = new Vue({
        el: '#app',
        data: {
            isFullscreen: false,
            reRate: 1,
            moveX: 0,
            moveY: 0,
            trunCnt: 0,
            carouselInterval: null,
            scrollInterval: null,
            dailyTOPAlarms: [],
            dailyProcessMTD: [],
            frontAlarms: [],
            backendAlarms: [],
            immedAlarm: '',
            eqDataInfo:[],
            eqPerfInfo: {
                area: '',
                eqNo: '',
                prod: '',
                passQty: '',
            }
        },
        methods: {
            stopInterval(e) {
                clearInterval(vue.scrollInterval);
            },
            setScrollInterval() {
                this.scrollInterval = setInterval(function () {
                    vue.scrollingRow();
                }, 150);
            },
            scrollingRow() {
                var elems = $('.autoscrollable-wrapper');
                elems.each(function (idx, div) {
                    div.scrollTop = div.scrollTop + 1;
                    const _scrollLen = Math.ceil(div.scrollTop);
                    if (div.scrollHeight - _scrollLen == div.clientHeight) {
                        div.scrollTop = 0;
                    }
                });
            },
            pageResize(isResize, isFullscreen) {
                var canvas = document.getElementById("myCanvas");
                var context = canvas.getContext("2d");

                var _divWidth = $("div[name='mapDiv']").width();
                var _divHeight = $("div[name='mapDiv']").height();

                canvas.height = _divHeight;
                canvas.width = _divWidth;

                //alert(_divWidth + '_' + _divHeight);

                var imgObject = new Image();
                imgObject.src = "./img/fab_layout/fabLayout2F_frame_resize.png";

                imgObject.addEventListener('load', function () {
                    var setW = imgObject.width;
                    var setH = imgObject.height;
                    if ((_divHeight / _divWidth) > (setH / setW)) {
                        vue.reRate = _divWidth / setW;
                        setH = setH * vue.reRate;
                        setW = _divWidth;
                        vue.moveX = 0;
                        vue.moveY = (_divHeight - setH) / 2;
                    }
                    else {
                        vue.reRate = _divHeight / setH;
                        setH = _divHeight;
                        setW = setW * vue.reRate;
                        vue.moveX = (_divWidth - setW) / 2;
                        vue.moveY = 0;
                    }
                    context.drawImage(imgObject, vue.moveX, vue.moveY, setW, setH);
                    if (isFullscreen || vue.moveX != 0 || vue.moveY != 0) {
                        vue.areaResize(vue.moveX, vue.moveY, setW, setH, vue.reRate);
                    }
                    else if (isResize & !isFullscreen) {
                        vue.areaResize(vue.moveX, vue.moveY, setW, setH, vue.reRate);
                    }
                    //context.strokeRect(100, 100, 250, 100);
                });
            },
            wrapMapEqPerInfo(eqPerData) {

                this.eqDataInfo = [];
                this.frontAlarms = [];
                this.backendAlarms = [];

                for (var i = 0; i < eqPerData.length; i++) {

                    const _eqData = {
                        eqNumber: eqPerData[i].eqNumber,
                        position: 'absolute',
                        border: '3px dashed ' + eqPerData[i].border,
                        defTopRate: eqPerData[i].defTopRate,
                        defLeftRate: eqPerData[i].defLeftRate,
                        top: 0,
                        left: 0,
                        defWidth: eqPerData[i].defWidth,
                        defHeight: eqPerData[i].defHeight,
                        width: 0,
                        height: 0,
                        background: eqPerData[i].background,
                        origBackground: eqPerData[i].background,
                        defOpacity: 0.5,
                        'text-align': 'center',
                        perfInfo: {}
                    };

                    _eqData.perfInfo.area = eqPerData[i].area;
                    _eqData.perfInfo.eqNo = eqPerData[i].eqNumber;
                    _eqData.perfInfo.prod = eqPerData[i].prodNoConcate;
                    _eqData.perfInfo.passQty = eqPerData[i].passQty;
                    _eqData.perfInfo.alarmMsg = '';

                    if (eqPerData[i].comment != '') {
                        if (eqPerData[i].isFrontEnd) {
                            this.frontAlarms.push(
                                {
                                    comment: eqPerData[i].comment,
                                    eqNumber: eqPerData[i].eqNumber,
                                    prodNo: eqPerData[i].prodNo,
                                    startTime: eqPerData[i].startTime,
                                });
                            _eqData.background = 'rgba(255, 0, 0,' + 0.7 + ')';
                            _eqData.perfInfo.alarmMsg = eqPerData[i].comment;
                        }
                        else {
                            this.backendAlarms.push(
                                {
                                    comment: eqPerData[i].comment,
                                    eqNumber: eqPerData[i].eqNumber,
                                    prodNo: eqPerData[i].prodNo,
                                    startTime: eqPerData[i].startTime,
                                });
                            _eqData.background = 'rgba(255, 0, 0,' + 0.7 + ')';
                            _eqData.perfInfo.alarmMsg = eqPerData[i].comment;
                        }
                        this.immedAlarm += '<tr><td>' + eqPerData[i].eqNumber + '</td><td>' + eqPerData[i].prodNo + '</td><td>' + eqPerData[i].startTime + '</td><td>' + eqPerData[i].comment + '</td></tr>';
                    }

                    this.eqDataInfo.push(_eqData);
                }
            },
            areaResize(mX, mY, imgW, imgH, reRate) {

                for (var i = 0; i < vue.eqDataInfo.length; i++) {
                    vue.eqDataInfo[i].top = (vue.eqDataInfo[i].defTopRate * imgH) + mY;
                    vue.eqDataInfo[i].left = (vue.eqDataInfo[i].defLeftRate * imgW) + mX;
                    vue.eqDataInfo[i].width = vue.eqDataInfo[i].defWidth * reRate;
                    vue.eqDataInfo[i].height = vue.eqDataInfo[i].defHeight * reRate;
                }
            },
            areaMouseover(e) {
                clearInterval(vue.carouselInterval);
                vue.showEQInfo(e);
            },
            setCarouselInterval() {
                this.carouselInterval = setInterval(function () {
                    vue.autoShowArea();
                }, 10000);
            },
            showEQInfo(e) {

                $.each(vue.eqDataInfo, function (idx, item) {
                    if (item.perfInfo.alarmMsg != '') {
                        item.background = 'rgba(255, 0, 0,0.7)';
                    }
                    else {
                        item.background = item.origBackground.split('.')[0] + item.defOpacity + ')';
                    }
                });

                const _currEqInfo = $.grep(vue.eqDataInfo, function(item) {
                    return item.eqNumber == e.eqNumber;
                });

                vue.eqPerfInfo.area = _currEqInfo[0].perfInfo.area;
                vue.eqPerfInfo.eqNo = _currEqInfo[0].perfInfo.eqNo;
                vue.eqPerfInfo.prod = _currEqInfo[0].perfInfo.prod;
                vue.eqPerfInfo.passQty = _currEqInfo[0].perfInfo.passQty.toString();

                if (_currEqInfo[0].perfInfo.alarmMsg != '') {
                    _currEqInfo[0].background = 'rgba(255, 0, 0, .9)';
                }
                else {
                    _currEqInfo[0].background = _currEqInfo[0].background.split('.')[0] + '.9)';
                }
            },
            hideEQInfo(e) {

                vue.setCarouselInterval();

                vue.eqPerfInfo.area = '';
                vue.eqPerfInfo.eqNo = '';
                vue.eqPerfInfo.prod = '';
                vue.eqPerfInfo.passQty = '';

                if (e.perfInfo.alarmMsg != '') {
                    e.background = 'rgba(255, 0, 0,0.7)';
                }
                else {
                    e.background = e.origBackground.split('.')[0] + e.defOpacity + ')';
                }
            },
            eqMapProdPerInterval() {
                $.ajax({
                    url: "./Monitor/MapProdPerInfo",
                    type: "GET",
                    dataType: 'json',
                    success: function (result) {
                        if (result.isSuccess) {
                            vue.immedAlarm = '';
                            vue.wrapMapEqPerInfo(result.data.eqInfoList)
                            vue.pageResize(false, vue.isFullscreen);
                            if (vue.immedAlarm != '') {
                                Swal.fire({
                                    icon: 'warning',
                                    title: "<p name='remark'>機況警報</p>",
                                    html: "<table class='table table-borderless'><tbody name='warning'>" + vue.immedAlarm + "</tbody></table>",
                                    background: 'rgba(173, 151, 151, .7)',
                                    width: 1000,
                                    timer: 120000,
                                    timerProgressBar: true,
                                    didOpen: (toast) => {
                                        toast.onmouseenter = Swal.stopTimer;
                                        toast.onmouseleave = Swal.resumeTimer;
                                    },
                                    showCloseButton: true,
                                    showConfirmButton: false
                                });
                            }
                        }
                        else {
                            vue.toast.fire({
                                icon: 'error',
                                title: result.msg
                            });
                        }
                    }
                });
            },
            eqTOPAlarmInterval() {
                $.ajax({
                    url: "./Monitor/DailyTOPAlarms",
                    type: "GET",
                    dataType: 'json',
                    success: function (result) {
                        if (result.isSuccess) {
                            vue.dailyTOPAlarms = result.data.alarmDayTop;
                        }
                        else {
                            vue.toast.fire({
                                icon: 'error',
                                title: result.msg
                            });
                        }
                    }
                });
            },
            dailyMTDInterval() {
                $.ajax({
                    url: "./Monitor/DailyMTD",
                    type: "GET",
                    dataType: 'json',
                    success: function (result) {
                        if (result.isSuccess) {
                            vue.dailyProcessMTD = result.data.dailyMTDList;
                        }
                        else {
                            vue.toast.fire({
                                icon: 'error',
                                title: result.msg
                            });
                        }
                    }
                });
            },
            autoShowArea() {
                //$('#' + vue.eqDataInfo[vue.trunCnt].eqNumber).trigger('mouseover');

                vue.showEQInfo(vue.eqDataInfo[vue.trunCnt]);

                vue.trunCnt++;

                if (vue.trunCnt > (vue.eqDataInfo.length - 1)) {
                    vue.trunCnt = 0;
                }
            },
            setClockInterval() {
                setInterval(function () {
                    vue.updateClock();
                }, 1000);
            },
            updateClock() {
                var time = new Date();
                var dname = time.getDay(),
                    mo = time.getMonth(),
                    yr = time.getFullYear(),
                    dnum = time.getDate(),
                    hr = time.getHours(),
                    min = time.getMinutes(),
                    sec = time.getSeconds(),
                    pe = "AM";

                //// 抓AM或PM
                //if (hr >= 12) {
                //    pe = "PM";
                //} else {
                //    pe = "AM"
                //}

                // 轉換成兩位數
                Number.prototype.pad = function (digits) {
                    for (var n = this.toString(); n.length < digits; n = 0 + n);
                    return n;
                }

                var months = ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"];
                var week = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
                //var ids = ["dayname", "month", "daynum", "year", "hour", "minutes", "seconds", "period"];
                var ids = ["hour", "minutes", "seconds"];
                /*var values = [week[dname], months[mo], dnum.pad(2), yr, hr.pad(2), min.pad(2), sec.pad(2), pe];*/
                var values = [hr.pad(2), min.pad(2), sec.pad(2)];

                for (var i = 0; i < ids.length; i++)
                    document.getElementById(ids[i]).firstChild.nodeValue = values[i];
            }
        },
        mounted: function () {
            var _model = @(Html.Raw(Json.Serialize(Model)));
            _prodPerInfo = _model.prodPerInfo;
            //$.each(_model.alarmList, function (idx, alarmData) {
            //    alarmArea(alarmData);
            //});

            if (window.innerHeight === screen.height) {
                this.isFullscreen = true;
            }

            if (_model.eqInfoList != null) {
                this.wrapMapEqPerInfo(_model.eqInfoList);
            }

            this.dailyTOPAlarms = _model.alarmDayTop;

            this.dailyProcessMTD = _model.dailyMTDList;

            setInterval(function () {
                vue.eqMapProdPerInterval();
            }, 300000);

            setInterval(function () {
                vue.eqTOPAlarmInterval();
            }, 480000);

            setInterval(function () {
                vue.dailyMTDInterval();
            }, 300000);

            this.pageResize(false, this.isFullscreen);

            this.setScrollInterval();
            this.setCarouselInterval();
            this.setClockInterval();
        },
        computed: {

        }
    });

    window.onresize = function (event) {
        if (window.innerHeight === screen.height) {
            this.isFullscreen = true;
        }
        else {
            this.isFullscreen = false;
        }

        vue.pageResize(true, this.isFullscreen);
    }

    //var server = 'ws://127.0.0.1:80'; //如果开启了https则这里是wss
    //var vWebSocket = null;
    //window.onload = function () {
    //    //建立一個web socket 連線
    //    vWebSocket = new WebSocket(server + '/CarUX/send');

    //    //如果連線成功
    //    vWebSocket.onopen = function (e) {
    //        console.log('connection start ...');
    //    }

    //    //接收到訊息時
    //    vWebSocket.onmessage = function (e) {
    //        console.log('Recevied Message:' + e.data);
    //        if (e.data) {
    //            var msgArray = e.data.split('\t');
    //            var _response = JSON.parse(msgArray[msgArray.length - 1]);
    //            /*alarmArea(_response);*/
    //            alert(_response.Area);
    //        }
    //    }
    //}
</script>