@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">@ViewData["Title"]</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <p>Use this page to detail your site's privacy policy.</p>
</div>


@*@{ 
    Layout = null;
}


<div class="card">
        <div class="form-group" style="display: flex;">
            <label class="col-md-2 control-label"><font style="font-size:15px;color:black">營收撥款日</font></label>
            <div class="col-md-2">
                <select>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            </div>
            <div>
                <label class="col-md-2 control-label" id="lblFUNDS_CYCLE_D"><font style="font-size:15px;color:red">清算後</font></label>
            </div>
            <div>
                <label class="col-md-2 control-label"><font style="font-size:15px;color:red">每月</font></label>
            </div>
            <div>
                <input type="text" name="name" value="123" />
            </div>
            <div>
                <label class="col-md-2 control-label" id="lblFUNDS_CYCLE_D_1"><font style="font-size:15px;color:red">天撥扣</font></label>
            </div>
            <div>
                <label class="col-md-2 control-label"><font style="font-size:15px;color:red">號撥扣</font></label>
            </div>
        </div>
        <div class="form-group" style="display: flex;">
            <div class="">
                <label class="col-form-label">手續費收款日</label>
                <input type="date" name="name" value="" />
            </div>
            <div>
                <label>清算後</label>
                <label>每月</label>
                <input type="date" name="name" value="" />
                <label>天撥扣</label>
                <label>號撥扣</label>
            </div>
        </div>
    </div>*@